body {
    background: linear-gradient(-100deg, #d4acac 50%, #e2ba83 50%);
    min-height: 100vh;
    margin: 0;
  }
  
  h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
  }
  
  .card {
    max-width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.85);
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card-body {
    padding: 15px;
  }
  
  .carousel-inner {
    padding: 1em 0;
  }
  
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: brown;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  
  .carousel-control-prev-icon:hover, .carousel-control-next-icon:hover {
    background-color: rgb(79, 4, 4);
  }
  
  @media (max-width: 768px) {
    .card {
      max-width: 100%;
    }
  }
  